<h1>Greeting from NestJS NodeMailer</h1>
<p>Hello, <%= email %>!</p>
<p>Your OTP token is <%= otpToken %>. It will expire in 5 minutes.</p>
<p>Please use this token to verify your identity and access your account.</p>
<p>
  If you did not request this token, please ignore this email or contact us at
  "${process.env.EMAIL_USER}".
</p>
<p>Thank you for using our service.</p>
<p>Best regards,</p>
<p>The NestJS Team</p>
